name: Python Test Automation with Allure Report

on:
  push:
    branches:
      - pytest-automation
  workflow_dispatch:
  schedule:
    - cron: "40 14 * * *"   # 8:10 PM IST

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Install Allure CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y default-jre
          wget https://github.com/allure-framework/allure2/releases/latest/download/allure-commandline.tgz
          tar -xzf allure-commandline.tgz
          sudo mv allure-*/bin/allure /usr/local/bin/allure
          allure --version

      - name: Generate timestamp
        id: vars
        run: echo "ts=$(date +%Y%m%d%H%M%S)" >> $GITHUB_OUTPUT

      - name: Run tests
        continue-on-error: true
        run: |
          pytest --alluredir=allure-results-${{ steps.vars.outputs.ts }}

      - name: Generate HTML report
        if: always()
        run: |
          allure generate allure-results-${{ steps.vars.outputs.ts }} \
            -o allure-report-${{ steps.vars.outputs.ts }} --clean

      - name: Prepare Pages deployment folder
        if: always()
        run: |
          mkdir -p _site
          cp -r allure-report-${{ steps.vars.outputs.ts }}/* _site/

      - name: Upload Pages dir
        uses: actions/upload-pages-artifact@v3
        with:
          path: _site

  deploy:
    if: always()
    needs: test
    runs-on: ubuntu-latest
    environment:
      name: github-pages

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
