name: Python Test Automation with Allure Report

on:
  push:
    branches:
      - pytest-automation
  workflow_dispatch:     # Manual run
  schedule:
    - cron: "40 14 * * *"   # Runs daily at 8:10 PM IST (14:40 UTC)

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Generate timestamp folder for report
        id: vars
        run: |
          TS=$(date +%Y%m%d%H%M%S)
          echo "timestamp=$TS" >> $GITHUB_OUTPUT
          mkdir -p "allure-results-$TS"

      - name: Run tests
        run: |
          pytest --alluredir=allure-results-${{ steps.vars.outputs.timestamp }}

      - name: Generate Allure HTML report
        run: |
          pip install allure-pytest
          allure generate allure-results-${{ steps.vars.outputs.timestamp }} -o allure-report-${{ steps.vars.outputs.timestamp }} --clean

      - name: Upload report to GitHub Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: allure-report-${{ steps.vars.outputs.timestamp }}

  deploy:
    needs: test
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
