name: Python Test Automation with Allure Report

on:
  push:
    branches:
      - pytest-automation
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      NODE_TLS_REJECT_UNAUTHORIZED: 0

    strategy:
      fail-fast: false
      matrix:
        keyword: [instagram, facebook]   # run keywords in parallel

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: pytest-automation

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Install dependencies + Allure CLI
        run: |
          pip install -r requirements.txt
          pip install allure-pytest
          sudo apt-get update
          sudo apt-get install -y unzip wget
          wget -q https://github.com/allure-framework/allure2/releases/download/2.29.0/allure-2.29.0.zip
          unzip -o allure-2.29.0.zip -d /opt/allure
          sudo ln -sf /opt/allure/allure-2.29.0/bin/allure /usr/bin/allure

      - name: Start Xvfb
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb
          Xvfb :99 -screen 0 1920x1080x24 &
          echo "DISPLAY=:99" >> $GITHUB_ENV

      - name: Run pytest for regression and keyword ${{ matrix.keyword }}
        run: |
          pytest -v -s -m "regression" -k "${{ matrix.keyword }}" --alluredir=allure-results-regression-${{ matrix.keyword }} || true

      - name: Upload Allure results for regression keyword ${{ matrix.keyword }}
        uses: actions/upload-artifact@v4
        with:
          name: allure-regression-${{ matrix.keyword }}
          path: allure-results-regression-${{ matrix.keyword }}
