name: Python Test Automation with Allure Report

on:
  push:
    branches:
      - pytest-automation      # <<< Run workflow on every push to this branch
  schedule:
    - cron: "0 9 * * *"      # Runs daily at 9:00 UTC
  workflow_dispatch:          # Optional manual run

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout latest code from branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: pytest-automation

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Install ChromeDriver
        uses: nanasess/setup-chromedriver@v2

      - name: Install dependencies + Allure CLI
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install allure-pytest

          wget https://github.com/allure-framework/allure2/releases/download/2.29.0/allure-2.29.0.zip
          sudo apt-get update
          sudo apt-get install -y unzip
          unzip allure-2.29.0.zip -d /opt/allure
          sudo ln -s /opt/allure/allure-2.29.0/bin/allure /usr/bin/allure

      - name: Generate Timestamp
        id: ts
        run: echo "TS=$(date +%Y%m%d%H%M%S)" >> $GITHUB_OUTPUT

      - name: Run Pytest
        run: pytest -v -s --alluredir=allure-results || true

      - name: Generate Allure Report
        run: |
            mkdir -p site/reports/${{ steps.ts.outputs.TS }}/
            allure generate allure-results \
              -o site/reports/${{ steps.ts.outputs.TS }}/ --clean

      - name: Copy latest report
        run: |
          rm -rf site/latest
          cp -r site/reports/${{ steps.ts.outputs.TS }} site/latest

      - name: Upload GitHub Pages Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: site

  deploy:
    needs: test
    runs-on: ubuntu-latest
    environment:
      name: github-pages

    steps:
      - name: Deploy Allure Report to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4

      - name: Print Allure URL
        run: |
            echo "Latest Report:"
            echo "https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/latest/"
            echo "All Reports:"
            echo "https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/reports/"